[Desktop Entry]
Version=1.0
Type=Application
Name=MonitorSwitch
Comment=USB Device Monitor & Screen Controller
Exec=MonitorSwitch
Icon=MonitorSwitch
Terminal=false
Categories=System;Monitor;
StartupNotify=true
Keywords=USB;monitor;screen;device;
